<div class="container-fluid" style="background-color: #FE0000;    height: 100px;">
  <div class="row">
    <div class="col-4 text-left">
      <img src="../../assets/santander-logo.svg" width="100%" height="auto" alt="" style="height: 70px;    width: 200px;    margin-top: 2.5%;">
    </div>
    <div class="col-4 text-center">
      <h1 style="padding-top: 30px!important; color: white;">Portal EFD-Reinf</h1>
    </div>
    <div class="col-4 text-right">
      <p style="padding-top: 30px!important; color: white;">usuário XXXXXX, acesso em<br/>16/10/2018 ás 13:05</p>
    </div>
  </div>
</div>