<div class="modal-header modal-header-pop-up">
  <h5 class="modal-title" id="exampleModalLabel">Controle de Registro R1070</h5>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="row santander-padding-top-1">
    <div class="col-12">
      <table class="table-bordered text-center">
        <thead class="santander-thead" style="background-color: gray;">
          <tr>
            <th scope="col">PRESTADOR</th>
            <th scope="col">NOME DO ARQUIVO XML</th>
            <th scope="col">RECIBO</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td scope="col"></td>
            <td scope="col"></td>
            <td scope="col"></td>
            <td>
              <button 
                class="btn" 
                style="background-color: rgb(118, 113, 113); color: white; float: right;" 
                type="button"
                disabled="">EDITAR
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>