<!-- Large modal -->
<button 
  type="button" 
  class="btn btn-primary" 
  data-toggle="modal" 
  data-target=".bd-example-modal-lg"
  [hidden]="isLoaded"
  id="xxx">Large modal
</button>
<button 
  type="button" 
  class="btn btn-primary" 
  data-toggle="modal" 
  data-target=".bd-example-modal-lg"
  data-dismiss="modal"
  >Large modal
</button>

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
        <div class="container-fluid">
          <form [formGroup]="r1000Form" novalidate>
            <div class="row santander-padding-top-1">
              <div class="col-3">
                <div class="form-group">
                  <label for="TP_OPER">Tipo de Operação</label>
                  <input 
                    type="text" 
                    class="form-control" 
                    id="TP_OPER"
                    mask="0"
                    placeholder="Tipo de Operação"
                    formControlName="TP_OPER"/>

                  <label for="NM_LAYOUT">Layout REINF</label>
                  <input 
                    type="text" 
                    class="form-control" 
                    id=""
                    [maxlength]="5"
                    placeholder="Layout REINF"
                    formControlName="NM_LAYOUT"/>

                  <label for="DT_MOVIMENT">Data Movimentação</label>
                  <input 
                    type="text" 
                    class="form-control" 
                    id=""
                    mask="0000.00.00"
                    placeholder="Data Movimentação"
                    formControlName="DT_MOVIMENT"/>

                  <label for="DT_INI_VAL">Data Início de Validade</label>
                  <input 
                    type="text" 
                    class="form-control" 
                    id=""
                    mask=""
                    maxlength="7"
                    placeholder="Data Início de Validade"
                    formControlName="DT_INI_VAL"/>

                  <label for="DT_FIM_VAL">Data Fim de Validade</label>
                  <input 
                    type="text" 
                    class="form-control" 
                    id=""
                    mask=""
                    maxlength="7"
                    placeholder="Data Fim de Validade"
                    formControlName="DT_FIM_VAL"/>

                  <label for="CD_CNPJ_EFR">Código CNPJ EFR</label>
                  <input 
                    type="text" 
                    class="form-control" 
                    id=""
                    mask="00.000.000/0000.00"
                    placeholder="Código CNPJ EFR"
                    formControlName="CD_CNPJ_EFR"/>
                  
                    <label for="FILLER">Filler</label>
                  <input 
                    type="text" 
                    class="form-control" 
                    id=""
                    mask=""
                    placeholder="Filler"
                    formControlName="FILLER"/>
                </div>
              </div>
              <div class="col-3">
                <div class="form-group">
                  <label for="CD_CLASSTRIB">Código Classificação Tributo - Tabela 8</label>
                  <input 
                    type="text" 
                    class="form-control" 
                    id=""
                    mask="00"
                    placeholder="Código Classificação Tributo - Tabela 8"
                    formControlName="CD_CLASSTRIB"/>

                  <label for="IN_ESCRITUR">Inscrição escrituração ECD (0-Não faz / 1-Faz ECD)</label>
                  <input 
                    type="text" 
                    class="form-control" 
                    id=""
                    mask="0"
                    placeholder="Inscrição escrituração ECD (0-Não faz / 1-Faz ECD)"
                    formControlName="IN_ESCRITUR"/>

                  <label for="IN_DESONERA">Inscrição Desoneração (0-Não Aplicável / 1-Aplicável)</label>
                  <input 
                    type="text" 
                    class="form-control" 
                    id=""
                    mask="0"
                    placeholder="Inscrição Desoneração (0-Não Aplicável / 1-Aplicável)"
                    formControlName="IN_DESONERA"/>

                  <label for="IN_ACO_MULT">Ind. Acordo Intern. Isen. Multa (0-Sem acordo / 1-Com acordo)</label>
                  <input 
                    type="text" 
                    class="form-control" 
                    id=""
                    mask="0"
                    placeholder="Ind. Acordo Intern. Isen. Multa (0-Sem acordo / 1-Com acordo)"
                    formControlName="IN_ACO_MULT"/>

                  <label for="IN_SIT_PJ">Ind. Sit. (0-Sit.Normal / 1-Extinção / 2-Fusão / 3-Cisão / 4-Incorporação)</label>
                  <input 
                    type="text" 
                    class="form-control" 
                    id=""
                    mask="0"
                    placeholder="Ind. Sit. (0-Sit.Normal / 1-Extinção / 2-Fusão / 3-Cisão / 4-Incorporação)"
                    formControlName="IN_SIT_PJ"/>
                </div>
              </div>
              <div class="col-3">
                <div class="form-group">
                  <label for="NM_RESP_CON">Nome Responsável Contato da Empresa</label>
                  <input 
                    type="text" 
                    class="form-control" 
                    id=""
                    mask=""
                    maxlength="70"
                    placeholder="Nome Responsável Contato da Empresa"
                    formControlName="NM_RESP_CON"/>

                  <label for="CD_CPF_CON">Código CPF Contato da Empresa</label>
                  <input 
                    type="text" 
                    class="form-control" 
                    id=""
                    mask="000.000.000-00"
                    placeholder="Código CPF Contato da Empresa"
                    formControlName="CD_CPF_CON"/>

                  <label for="CD_TEL_CON">Código Telefone Contato da Empresa</label>
                  <input 
                    type="text" 
                    class="form-control" 
                    id=""
                    mask="(00)0000-0000"
                    placeholder="Código Telefone Contato da Empresa"
                    formControlName="CD_TEL_CON"/>

                  <label for="CD_CEL_CON">Código Celular Contato da Empresa</label>
                  <input 
                    type="text" 
                    class="form-control" 
                    id=""
                    mask="(00)00000-0000"
                    placeholder="Código Celular Contato da Empresa"
                    formControlName="CD_CEL_CON"/>

                  <label for="NM_EMAIL_CON">Nome Email Contato da Empresa</label>
                  <input 
                    type="text" 
                    class="form-control" 
                    id=""
                    mask=""
                    maxlength="60"
                    placeholder="Nome Email Contato da Empresa"
                    formControlName="NM_EMAIL_CON">
                </div>
              </div>
              <div class="col-3">
                <div class="form-group">
                  <label for="NM_RAZAO_EMP">Nome Razão Social Empresa de Software</label>
                  <input 
                    type="text" 
                    class="form-control" 
                    id=""
                    mask=""
                    maxlength="115"
                    placeholder="Nome Razão Social Empresa de Software"
                    formControlName="NM_RAZAO_EMP"/>

                  <label for="NM_CON_EMP">Nome Contato Empresa de Software</label>
                  <input 
                    type="text" 
                    class="form-control" 
                    id=""
                    mask=""
                    maxlength="70"
                    placeholder="Nome Contato Empresa de Software"
                    formControlName="NM_CON_EMP"/>

                  <label for="CD_TEL_EMP">Código Telefone Empresa de Software</label>
                  <input 
                    type="text" 
                    class="form-control" 
                    id=""
                    mask=""
                    maxlength="13"
                    placeholder="Código Telefone Empresa de Software"
                    formControlName="CD_TEL_EMP"/>

                  <label for="NM_EMAIL_EMP">Nome Email Empresa de Software</label>
                  <input 
                    type="text" 
                    class="form-control" 
                    id=""
                    mask=""
                    maxlength="60"
                    placeholder="Nome Email Empresa de Software"
                    formControlName="NM_EMAIL_EMP"/>

                  <label for="ID_EFR">Ident. EFR</label>
                  <input 
                    type="text" 
                    class="form-control" 
                    id=""
                    mask=""
                    maxlength="1"
                    placeholder="Ident. EFR"
                    formControlName="ID_EFR">
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <button 
          type="button" 
          class="btn" 
          style="background-color: rgb(118, 113, 113); color: white;"
          (click)="consult($event);"
          >FINALIZAR
        </button>
        <button 
          type="button" 
          class="btn" 
          style="background-color: rgb(118, 113, 113); color: white;"
          data-dismiss="modal"
          >CANCELAR
        </button>
        <button 
          type="button" 
          class="btn" 
          style="background-color: rgb(118, 113, 113); color: white;"
          (click)="consult($event);"
          >EXCLUIR
        </button>
      </div>
    </div>
  </div>
</div>