<div class="container" [formGroup]="consultForm" style="    padding-bottom: 50px;">

  <div class="row santander-padding-top-1" style="padding-top: 0px!important; margin-top: 50px;">
    <div class="col-2" style="display: inline-block; vertical-align:top;">
      <p>Fonte Pagadora:</p>
    </div>
    <div class="col-8" style="display: inline-block; vertical-align:top;">
      <p>
        <select formControlName="document" class="form-control" id="exampleSelect">
          <option selected value="">       </option>       
        </select>
      </p>
    </div>
  </div>
  <div class="row santander-padding-top-1" style="padding-top: 0px!important;">
    <div class="col-2" style="display: inline-block; vertical-align:top;">
      <p>Banco:</p>
    </div>
    <div class="col-2" style="display: inline-block; vertical-align:top;">
      <p>
        <select formControlName="document" class="form-control" id="exampleSelect">
            <option selected value="">       </option>       
          </select>
      </p>
    </div>    
    <div class="col-1" style="display: inline-block; vertical-align:top;"></div>
    <div class="col-1" style="display: inline-block; vertical-align:top;">Fato Gerador: </div>
    <div class="col-3" style="display: inline-block; vertical-align:top;">De: <input></div>
    <div class="col-3" style="display: inline-block; vertical-align:top;">Até: <input></div>    
  </div>
  <div class="row santander-padding-top-1" style="padding-top: 0px!important;">
    <div class="col-2" style="display: inline-block; vertical-align:top;">
      <p>Sistema:</p>
    </div>
    <div class="col-2" style="display: inline-block; vertical-align:top;">
      <p>
        <select formControlName="document" class="form-control" id="exampleSelect">
              <option selected value="">       </option>       
            </select>
      </p>
    </div>
    <div class="col-1" style="display: inline-block; vertical-align:top;"></div>
    <div class="col-1" style="display: inline-block; vertical-align:top;">Contábil: </div>
    <div class="col-3" style="display: inline-block; vertical-align:top;">De: <input></div>
    <div class="col-3" style="display: inline-block; vertical-align:top;">Até: <input></div>    
  </div>
  <div class="row santander-padding-top-1" style="padding-top: 0px!important;">
    <div class="col-2" style="display: inline-block; vertical-align:top;">
      <p>Produto:</p>
    </div>
    <div class="col-2" style="display: inline-block; vertical-align:top;">
      <p>
        <select formControlName="document" class="form-control" id="exampleSelect">
                <option selected value="">       </option>       
              </select>
      </p>
    </div>
    <div class="col-1" style="display: inline-block; vertical-align:top;"></div>
    <div class="col-1" style="display: inline-block; vertical-align:top;">Tributação: </div>
    <div class="col-6" style="display: inline-block; vertical-align:top;">
        <select formControlName="document" class="form-control" id="exampleSelect">
            <option selected value="">       </option>       
          </select>
    </div>

  </div>
  <div class="row santander-padding-top-1" style="padding-top: 0px!important;">
    <div class="col-2" style="display: inline-block; vertical-align:top;">
      <p>Tributo:</p>
    </div>
    <div class="col-2" style="display: inline-block; vertical-align:top;">
      <p>
        <select formControlName="document" class="form-control" id="exampleSelect">
                  <option selected value="">       </option>       
                </select>
      </p>
    </div>
    <div class="col-1" style="display: inline-block; vertical-align:top;"></div>
    <div class="col-1" style="display: inline-block; vertical-align:top;">DARF: </div>
    <div class="col-4" style="display: inline-block; vertical-align:top;">
        <input>           
      
    </div>
  </div>
  <div class="row santander-padding-top-1" style="padding-top: 0px!important;">
    <div class="col-2" style="display: inline-block; vertical-align:top;">
      <p>Retenção:</p>
    </div>
    <div class="col-2" style="display: inline-block; vertical-align:top;">
      <p>
        <select formControlName="document" class="form-control" id="exampleSelect">
                    <option selected value="">       </option>       
                  </select>
      </p>
    </div>
    <div class="col-1" style="display: inline-block; vertical-align:top;"></div>
    <div class="col-1" style="display: inline-block; vertical-align:top;">Tipo: </div>
    <div class="col-1" style="display: inline-block; vertical-align:top;">
        CPF  
      <div class="form-check" style="    display: inline-block;
      vertical-align: top;
      margin-left: 10px;">
            <!-- <label class="form-check-label" for="exampleRadios1">
                CPF
              </label>   -->
          <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
           
          </div>
        
    </div>
    <div class="col-2" style="display: inline-block; vertical-align:top;">
        / CNPJ
        <div class="form-check" style="    display: inline-block;
        vertical-align: top;
        margin-left: 10px;">
            <!-- <label class="form-check-label" for="exampleRadios1">
                / CNPJ
              </label>   -->
          <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
           
          </div>
        
    </div>
  </div>
  <div class="row santander-padding-top-1" style="padding-top: 0px!important;">
    <div class="col-2" style="display: inline-block; vertical-align:top;">
      <p>Registros:</p>
    </div>
    <div class="col-2" style="display: inline-block; vertical-align:top;">
      <p>
        <select formControlName="document" class="form-control" id="exampleSelect">
                      <option selected value="">       </option>       
                    </select>
      </p>
    </div>
    <div class="col-1" style="display: inline-block; vertical-align:top;"></div>
    <div class="col-1" style="display: inline-block; vertical-align:top;">Beneficiário: </div>
    <div class="col-6" style="display: inline-block; vertical-align:top;"><input style="width: 80%;"></div>
  </div>
 

  <button class="btn" style="background-color: rgb(118, 113, 113); color: white; display: block;margin-top: 7px;" 
  (click)="pesquisar()" data-toggle="modal" data-target=".bd-example-modal-lg">PESQUISAR</button>


</div>
<router-outlet></router-outlet>