<div>
  <table class="table table-bordered text-center">
    <thead class="santander-thead">
      <tr>
        <th scope="col">Layout EFD-Reinf</th>
        <th scope="col">Total XMLs Enviados</th>
        <th scope="col">Total XMLs Enviados com Sucesso</th>
        <th scope="col">Total XMLs Enviados com Erro</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>R1000</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
      <tr>
        <td>R1070</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
      <tr>
        <td>R2010</td>
        <td>210</td>
        <td>209</td>
        <td style="background-color: #F00000; color: white">1 <a style="color: white" class="btn btn-sm"><i class="fas fa-search"></i></a></td>
      </tr>
      <tr>
        <td>R2060</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
      <tr>
        <td>R2099</td>
        <td>1</td>
        <td>1</td>
        <td>0</td>
      </tr>
      <tr>
        <td>R9000</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
    </tbody>
  </table>
</div>