<div class="container" [formGroup]="consultForm" style="    padding-bottom: 50px;    ">
  <div class="row santander-padding-top-1" style="padding-top: 0px!important; margin-top: 50px;    margin-bottom: 50px;">
    <div class="col-2" style="display: inline-block; vertical-align:top;">
      <p>Incluir Novo Registro:</p>
    </div>
    <div class="col-2" style="display: inline-block; vertical-align:top;  ">
      <p>
        <select 
          formControlName="document" 
          class="form-control" id="selectedOptionIclusion" 
          [(ngModel)]="selectedOptionIclusion" 
          (change)="layoutSelectedOption($event)">
          <option selected value="">Selecione ----</option>
          <option *ngFor="let nRegistro of nRegistros" [value]="nRegistro.id">{{nRegistro?.name}}</option>
        </select>
      </p>
    </div>
    <div class="col-2" style="display: inline-block; vertical-align:top;">
      <button 
        [disabled]="!btnIncluir" 
        class="btn" 
        style="background-color: rgb(118, 113, 113); color: white; display: block;"
        (click)="INCLUIR()" 
        data-toggle="modal" 
        data-target=".bd-inclusao-modal-lg">INCLUIR</button>
    </div>
  </div>
  <hr style="border-top: 2px solid rgba(0,0,0,.1);">
  <div class="row santander-padding-top-1" style="margin-top: 50px;margin-bottom: 20px;">
    <div class="col-3">
      <label for="periodoInit"><strong *ngIf="isFilterAble" style="color: red!important;">*</strong>Ano Fiscal:</label>
      <select 
        [disabled]="!isFilterAble" 
        class="form-control" 
        id="selectedYearConsult" 
        (change)="consulta($event)">
        <option selected value="empty">Selecione ----</option>
        <option value="2018">2018</option>
      </select>
    </div>
    <div class="col-2">&nbsp;</div>
    <div class="col-2">
      <div class="form-group">
        <label for="periodoInit"><strong *ngIf="!isFilterAble" style="color: red!important;">*</strong>De:</label>
        <input 
          type="text" 
          class="form-control" 
          id="periodoInit"
          mask="00/00/0000"
          placeholder="DD/MM/AAAA"
          [disabled]="isFilterAble">
      </div>
    </div>
    <div class="col-2">
      <div class="form-group">
        <label for="periodoEnd"><strong *ngIf="!isFilterAble" style="color: red!important;">*</strong>Até:</label>
        <input 
          type="text" 
          class="form-control" 
          id="periodoEnd"
          mask="00/00/0000"
          placeholder="DD/MM/AAAA"
          [disabled]="isFilterAble">
      </div>
    </div>
  </div>
  <div class="row santander-padding-top-0">
    <div class="col-12">
      <div class="form-check">
        <input 
          type="checkbox" 
          class="form-check-input" 
          id="openFilter" 
          (change)="openFilter();">
        <label class="form-check-label" for="exampleCheck1">Pesquisar por período específico</label>
      </div>
    </div>
  </div>
  <div class="row santander-padding-top-1" style="margin-bottom: 20px;">
    <div class="col-6">
      <label for="contrEmpr"><strong style="color: red!important;">*</strong>Contribuinte/Empresa:</label>
      <select formControlName="document" class="form-control" id="selectedCnpjConsult" (change)="consulta($event)" [(ngModel)]="selectedCnpjConsult">
        <option selected value="">Selecione ----</option>       
        <option *ngFor="let fonte of fontePagadora" [value]="fonte.label">{{fonte?.name}}</option>       
      </select><br>
      <label for="prestador"><strong style="color: red!important;">*</strong>Prestador:</label>
      <select 
        formControlName="document" 
        class="form-control" 
        id="selectedCnpjConsult1" 
        (change)="consulta($event)" 
        [(ngModel)]="selectedCnpjConsult1">
        <option selected value="">Selecione ----</option>       
        <option *ngFor="let fonte of fontePagadora" [value]="fonte.label">{{fonte?.name}}</option>       
      </select>
    </div>
    <div class="col-1">&nbsp;</div>
    <div class="col-3" style="display: inline-block; vertical-align:top;">
      <label for="registro"><strong style="color: red!important;">*</strong>Registros:</label>
      <select 
        formControlName="document" 
        class="form-control" 
        id="selectedLayoutConsult" 
        [(ngModel)]="selectedLayoutConsult" 
        (change)="layoutSelectedOption($event)">
        <option selected value="">Selecione ----</option>
        <option *ngFor="let registro of registros" [value]="registro.id">{{registro.name}}</option>
      </select><br>
      <div class="form-group">
        <label for="periodoInit"><strong *ngIf="!isFilterAble" style="color: red!important;">*</strong>Nota Fiscal:</label>
        <input 
          type="text" 
          class="form-control"
          placeholder="Nota Fiscal">
      </div>
    </div>
  </div>
  <div class="row santander-padding-top-1" style="padding-top: 0px!important;">
    <div class="col-3" style="display: inline-block; vertical-align:top;">
      <label for="banco"> Banco:</label>
      <select formControlName="document" class="form-control" id="exampleSelect" disabled>
        <option selected value="">       </option>       
      </select>
    </div>
    <div class="col-3" style="display: inline-block; vertical-align:top;">
      <label for="codProduto">Código de Produto:</label>
      <select formControlName="document" class="form-control" id="exampleSelect" disabled>
        <option selected value="">       </option>       
      </select>
    </div>
    <div class="col-1">&nbsp;</div>
    <div class="col-2 santander-padding-top-1">
      <button 
        class="btn" 
        style="background-color: rgb(118, 113, 113); color: white;" 
        (click)="pesquisar()"
        data-toggle="modal"
        [disabled]="!isAble"
        data-target=".bd-consultar-modal-lg">PESQUISAR</button>
    </div>
  </div>
  <div class="row santander-padding-top-1" style="padding-top: 0px!important;">
    <div class="col-3" style="display: inline-block; vertical-align:top;">
      <label for="sistema">Sistema:</label>
      <select formControlName="document" class="form-control" id="exampleSelect">
        <option selected value="">Selecione ----</option>
        <option *ngFor="let system of systems" [value]="system.label">{{system?.name}}</option>
      </select>
    </div>
    <div class="col-3" style="display: inline-block; vertical-align:top;">
      <label for="codRetencao">Código de Retenção:</label>
      <select formControlName="document" class="form-control" id="exampleSelect" disabled>
        <option selected value="">       </option>       
      </select>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
<div 
  class="modal fade bd-inclusao-modal-lg" 
  tabindex="-1" 
  role="dialog" 
  aria-labelledby="myLargeModalLabel" 
  aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <app-inclusao-registro-r1070 *ngIf="inclusaoLayout=='R1070'"></app-inclusao-registro-r1070>
      <app-inclusao-registro-r2010 *ngIf="inclusaoLayout=='R2010'"></app-inclusao-registro-r2010>
      <app-inclusao-registro-r2060 *ngIf="inclusaoLayout=='R2060'"></app-inclusao-registro-r2060>
      <app-consulta-geral *ngIf="consultaLayout"></app-consulta-geral>
    </div>
  </div>
</div>

<div 
  class="modal fade bd-consultar-modal-lg" 
  tabindex="-1" 
  role="dialog" 
  aria-labelledby="myLargeModalLabel" 
  aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <app-consulta-registro-r1000 *ngIf="layoutSelected=='R1000'"></app-consulta-registro-r1000>
      <app-consulta-registro-r1070 *ngIf="layoutSelected=='R1070'"></app-consulta-registro-r1070>
      <app-consulta-registro-r2010 *ngIf="layoutSelected=='R2010'"></app-consulta-registro-r2010>
      <app-consulta-registro-r2060 *ngIf="layoutSelected=='R2060'"></app-consulta-registro-r2060>
    </div>
  </div>
</div>