<div class="container-fluid">
  <form [formGroup]="consultForm" novalidate>
    <div class="row santander-padding-top-1">
      <div class="col-2">
        <div class="form-group">
          <label for="periodoCons">Digite o Período:</label>
          <input 
            type="text" 
            class="form-control" 
            id="periodoCons"
            mask="0000-00"
            placeholder="AAAA-MM"
            formControlName="periodo">
        </div>
      </div>
      <div class="col-2 santander-padding-top-1">
        <button 
          type="button" 
          class="btn" 
          style="background-color: rgb(118, 113, 113); color: white;"
          (click)="consult($event);"
          [disabled]="!consultForm.valid"
          >CONSULTAR</button>
      </div>
    </div>
  </form>
  <div class="row santander-padding-top-1">
    <div class="col-12">
      <table class="table-bordered text-center" [hidden]="!hasValue">
        <thead class="santander-thead">
          <tr>
            <th scope="col">** NOME DA COLUNA **</th>
            <th scope="col">** NOME DA COLUNA **</th>
            <th scope="col">** NOME DA COLUNA **</th>
            <th scope="col">** NOME DA COLUNA **</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>** SEM DADOS **</td>
            <td>** SEM DADOS **</td>
            <td>** SEM DADOS **</td>
            <td>
              <a
                *ngFor="let layout of arrayTeste.layouts"
                [routerLink]="['/home/controle-integracoes/'+layout.value]">
                {{layout.label}} /
              </a>
            </td>
          </tr>
        </tbody>
      </table>
      <router-outlet [ola]="olas"></router-outlet>
    </div>
  </div>
</div>
