<div class="container-fluid">
  <form [formGroup]="consultForm" novalidate>
    <div class="row santander-padding-top-1">
      <div class="col-2">
        <div class="form-group">
          <label for="periodoCons">De:</label>
          <input 
            type="text" 
            class="form-control" 
            id="periodoCons"
            mask="00/00/0000"
            placeholder="DD/MM/AAAA"
            formControlName="dateInit">
        </div>
      </div>
      <div class="col-2">
        <div class="form-group">
          <label for="periodoCons">Até:</label>
          <input 
            type="text" 
            class="form-control" 
            id="periodoCons"
            mask="00/00/0000"
            placeholder="DD/MM/AAAA"
            formControlName="dateEnd">
        </div>
      </div>
      <div class="col-2 santander-padding-top-1">
        <button 
          type="button" 
          class="btn" 
          style="background-color: rgb(118, 113, 113); color: white;"
          (click)="consult($event);"
          [disabled]="!consultForm.valid"
          >CONSULTAR</button>
      </div>
    </div>
  </form>
  <div class="row santander-padding-top-1" *ngIf="hasValue">
    <div class="col-12" style="margin-bottom: 50px; margin-top: 20px;">
      <div class="card-body card-body-gray" style="background-color: rgba(0,0,0,.125);">
        <div class="col-6 text-left" style="display: inline-block;">
          <p style="margin-top: 0.5rem; margin-bottom: 1rem;    margin-left: -15px;"><strong>Contribuinte</strong></p>
        </div>
        <div class="col-6 text-center" style="display: inline-block; width: 40%;">
          <p><strong>Evento layout</strong></p>
        </div>
      </div>
      <div class="card-body card-body-gray" *ngFor="let contribuinte of contribuintes">
        <div class="row">
          <div class="col-5 text-left">
            <p>{{contribuinte.document | mask: '00.000.000/0000-00'}}</p>
          </div>
          <div class="col-6 text-right">
            <p *ngFor="let layout2 of contribuinte.layout" 
              style="display: inline;">
              <button 
                data-toggle="modal" 
                [attr.data-target]="'.modal-'+layout2.label"
                class="btn btn-link btn-text-white" 
                (click)="redirect(layout2.label,contribuinte.contribuinte)"
                [ngClass]="{'flag-red': layout2.value=='red','flag-green': layout2.value=='green','flag-yellow': layout2.value=='yellow','flag-gray': layout2.value=='gray'}">
                  {{layout2.label}} 
                  <i class="fas fa-flag"></i>
              </button>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
        
<div 
  class="modal fade modal-R1070" 
  tabindex="-1" 
  role="dialog" 
  aria-labelledby="myR1070ModalLabel" 
  aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <app-controle-registros-r1070></app-controle-registros-r1070>      
    </div>
  </div>
</div>

<div 
  class="modal fade modal-R2010" 
  tabindex="-1" 
  role="dialog" 
  aria-labelledby="myR2010ModalLabel" 
  aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <app-controle-registros-r2010></app-controle-registros-r2010>
    </div>
  </div>
</div>

<div 
  class="modal fade modal-R2060" 
  tabindex="-1" 
  role="dialog" 
  aria-labelledby="myR2060ModalLabel" 
  aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <app-controle-registros-r2060></app-controle-registros-r2060>
    </div>
  </div>
</div>