<button 
  type="button" 
  class="btn btn-primary" 
  data-toggle="modal" 
  data-target=".bd-example-modal-lg"
  [hidden]="isLoaded"
  id="xxx">Large modal
</button>

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
        <div class="container-fluid">
          <form [formGroup]="r2010Form" novalidate>
            <div class="row santander-padding-top-1">
              <div class="col-3">
                <div class="form-group">
                  <label for="TP_OPER">Tipo de Operação (1-I / 2-A / 3-E / 4-R)</label>
                  <input 
                    type="text" 
                    class="form-control" 
                    id=""
                    mask="0"
                    placeholder="Tipo de Operação (1-I / 2-A / 3-E / 4-R)"
                    formControlName="TP_OPER"/>
                    
                  <label for="NM_LAYOUT">Layout REINF</label>
                  <input 
                    type="text" 
                    class="form-control" 
                    id=""
                    maxlength="5"
                    placeholder="Layout REINF"
                    formControlName="NM_LAYOUT"/>

                  <label for="CD_SIS_ORIG">Sistema de Origem</label>
                  <input 
                    type="text" 
                    class="form-control" 
                    id=""
                    maxlength="3"
                    placeholder="Sistema de Origem"
                    [attr.disabled]="true"
                    formControlName="CD_SIS_ORIG"/>
                    
                  <label for="CD_PRODUTO">Código Produto</label>
                  <input 
                    type="text" 
                    class="form-control" 
                    id=""
                    mask="0000"
                    [attr.disabled]="true"
                    placeholder="Código Produto"
                    formControlName="CD_PRODUTO"/>
                    
                  <label for="CD_RETENCAO">Código Retenção</label>
                  <input 
                    type="text" 
                    class="form-control" 
                    id=""
                    mask="00000"
                    placeholder="Código Retenção"
                    [attr.disabled]="true"
                    formControlName="CD_RETENCAO"/>
                    
                  <label for="DT_MOVIMENT">Data Movimentaçaõ</label>
                  <input 
                    type="text" 
                    class="form-control" 
                    id=""
                    mask="0000.00.00"
                    placeholder="AAAA.MM.DD"
                    formControlName="DT_MOVIMENT"/>
                    
                  <label for="TP_INSCRI">Tipo Inscrição (1-CNPJ / 2-CPF)</label>
                  <input 
                    type="text" 
                    class="form-control" 
                    id=""
                    mask="0"
                    placeholder="Tipo Inscrição (1-CNPJ / 2-CPF)"
                    [attr.disabled]="true"
                    formControlName="TP_INSCRI"/>
                    
                  <label for="NR_INSCRI">Número Inscrição do Contribuinte</label>
                  <input 
                    type="text" 
                    class="form-control" 
                    id=""
                    mask="00.000.000/0000-00"
                    placeholder="Número Inscrição do Contribuinte"
                    formControlName="NR_INSCRI"/>
                    
                  <label for="TP_INSC_EST">Tipo de Inscrição Estabelecimento (1-CNPJ / 4-CNO)</label>
                  <input 
                    type="text" 
                    class="form-control" 
                    id=""
                    mask="0"
                    [attr.disabled]="true"
                    placeholder="Tipo de Inscrição Estabelecimento (1-CNPJ / 4-CNO)"
                    formControlName="TP_INSC_EST"/>
                    
                  <label for="NR_INSC_EST">Número de Inscrição Estabelecimento</label>
                  <input 
                    type="text" 
                    class="form-control" 
                    id=""
                    mask="00.000.000/0000-00"
                    [attr.disabled]="true"
                    placeholder="Número de Inscrição Estabelecimento"
                    formControlName="NR_INSC_EST"/>

                  <label for="IN_OBRA">Inscrição Obra (0-Não é obra de Construção Civil ou não está sujeita a matrícula</label>
                  <input 
                    type="text" 
                    class="form-control" 
                    id=""
                    mask="0"
                    placeholder="Inscrição Obra (0-Não é obra de Construção Civil ou não está sujeita a matrícula)"
                    formControlName="IN_OBRA"/>

                  <label for="NR_CNPJ_PRE">CNPJ Prestador</label>
                  <input 
                    type="text" 
                    class="form-control" 
                    id=""
                    mask="00.000.000/0000-00"
                    [attr.disabled]="true"
                    placeholder="CNPJ Prestador"
                    formControlName="NR_CNPJ_PRE"/>
                  <label for="VL_TOT_BRUTO">Valor Total Bruto NF(s)</label>
                  <input 
                    type="text" 
                    class="form-control" 
                    id=""
                    maxlength="14"
                    placeholder="Valor Total Bruto NF(s)"
                    formControlName="VL_TOT_BRUTO"/>
                </div>
              </div>
              <div class="col-3">
                <div class="form-group">
                  <label for="VL_TOT_BASERET">Soma Valor Total Base Ret. NF(s)</label>
                  <input 
                    type="text" 
                    class="form-control" 
                    id=""
                    mask=""
                    maxlength="14"
                    placeholder="Soma Valor Total Base Ret. NF(s)"
                    formControlName="VL_TOT_BASERET"/>
                    
                  <label for="VL_TOT_RETPRINC">Valor Total Principal Ret. NF(s)</label>
                  <input 
                    type="text" 
                    class="form-control" 
                    id=""
                    mask=""
                    maxlength="14"
                    placeholder="Valor Total Principal Ret. NF(s)"
                    formControlName="VL_TOT_RETPRINC"/>
                    
                  <label for="VL_TOT_RETADIC">Valor Total Adicional Ret. NF(s)</label>
                  <input 
                    type="text" 
                    class="form-control" 
                    id=""
                    mask=""
                    maxlength="14"
                    placeholder="Valor Total Adicional Ret. NF(s)"
                    formControlName="VL_TOT_RETADIC"/>
                    
                  <label for="VL_TOT_NRETPRI">Valor Total Principal Não Ret. NF(s)</label>
                  <input 
                    type="text" 
                    class="form-control" 
                    id=""
                    mask=""
                    maxlength="14"
                    placeholder="Valor Total Principal Não Ret. NF(s)"
                    formControlName="VL_TOT_NRETPRI"/>
                    
                  <label for="VL_TOT_NRETADIC">Valor Total Adicional Não Ret. NF(s)</label>
                  <input 
                    type="text" 
                    class="form-control" 
                    id=""
                    mask=""
                    maxlength="14"
                    placeholder="Valor Total Adicional Não Ret. NF(s)"
                    formControlName="VL_TOT_NRETADIC"/>
                    
                  <label for="IN_CPRB">Indicativo CPRB (0-Não contribui: retenção 11% / 1-Contribui: retenção 3,5%)</label>
                  <input 
                    type="text" 
                    class="form-control" 
                    id=""
                    mask="0"
                    placeholder="Indicativo CPRB (0-Não contribui: retenção 11% / 1-Contribui: retenção 3,5%)"
                    formControlName="IN_CPRB"/>
                    
                  <label for="NR_SERIE">Série NF</label>
                  <input 
                    type="text" 
                    class="form-control" 
                    id=""
                    maxlength="5"
                    [attr.disabled]="true"
                    placeholder="Série NF"
                    formControlName="NR_SERIE"/>
                    
                  <label for="NR_DOCTO">Número da NF</label>
                  <input 
                    type="text" 
                    class="form-control" 
                    id=""
                    maxlength="15"
                    placeholder="Número da NF"
                    formControlName="NR_DOCTO"/>
                    
                  <label for="DT_EMISSAONF">Data Emissão NF</label>
                  <input 
                    type="text" 
                    class="form-control" 
                    id=""
                    mask="0000.00.00"
                    placeholder="AAAA.MM.DD"
                    formControlName="DT_EMISSAONF"/>
                    
                  <label for="VL_BRUTO">Valor Bruto da NF</label>
                  <input 
                    type="text" 
                    class="form-control" 
                    id=""
                    maxlength="14"
                    placeholder="Valor Bruto da NF"
                    formControlName="VL_BRUTO"/>
                    
                  <label for="NM_OBS">Observação</label>
                  <input 
                    type="text" 
                    class="form-control" 
                    id=""
                    maxlength="250"
                    placeholder="Observação"
                    formControlName="NM_OBS"/>
                    
                  <label for="TP_SERVICO">Tipo Serviço - Tabela 6</label>
                  <input 
                    type="text" 
                    class="form-control" 
                    id=""
                    maxlength="9"
                    [attr.disabled]="true"
                    placeholder="Tipo Serviço - Tabela 6"
                    formControlName="TP_SERVICO"/>
                </div>
              </div>
              <div class="col-3">
                <div class="form-group">
                  <label for="VL_BASERET">Valor Base Retenção da NF</label>
                  <input 
                    type="text" 
                    class="form-control" 
                    id=""
                    maxlength="14"
                    placeholder="Valor Base Retenção da NF"
                    formControlName="VL_BASERET"/>
                    
                  <label for="VL_RETENCAO">Valor Retenção da NF</label>
                  <input 
                    type="text" 
                    class="form-control" 
                    id=""
                    maxlength="14"
                    placeholder="Valor Retenção da NF"
                    formControlName="VL_RETENCAO"/>
                    
                  <label for="VL_RETSUB">Valor Retenção dos Serviços Subcontratados</label>
                  <input 
                    type="text" 
                    class="form-control" 
                    id=""
                    mask=""
                    maxlength="14"
                    placeholder="Valor Retenção dos Serviços Subcontratados"
                    formControlName="VL_RETSUB"/>
                    
                  <label for="VL_NRETPRINC">Valor Principal Não Ret. NF(s)</label>
                  <input 
                    type="text" 
                    class="form-control" 
                    id=""
                    mask=""
                    maxlength="14"
                    placeholder="Valor Principal Não Ret. NF(s)"
                    formControlName="VL_NRETPRINC"/>
                    
                  <label for="VL_SERVICOS15">Valor Serviços Prestados após 15 anos</label>
                  <input 
                    type="text" 
                    class="form-control" 
                    id=""
                    maxlength="14"
                    placeholder="Valor Serviços Prestados após 15 anos"
                    formControlName="VL_SERVICOS15"/>
                    
                  <label for="VL_SERVICOS20">Valor Serviços Prestados após 20 anos</label>
                  <input 
                    type="text" 
                    class="form-control" 
                    id=""
                    maxlength="14"
                    placeholder="Valor Serviços Prestados após 20 anos"
                    formControlName="VL_SERVICOS20"/>
                    
                  <label for="VL_SERVICOS25">Valor Serviços Prestados após 25 anos</label>
                  <input 
                    type="text" 
                    class="form-control" 
                    id=""
                    maxlength="14"
                    placeholder="Valor Serviços Prestados após 25 anos"
                    formControlName="VL_SERVICOS25"/>
                    
                  <label for="VL_ADICIONAL">Valor Adicional Serviços Prestados após 15, 20 ou 25 anos</label>
                  <input 
                    type="text" 
                    class="form-control" 
                    id=""
                    maxlength="14"
                    placeholder="Valor Adicional Serviços Prestados após 15, 20 ou 25 anos"
                    formControlName="VL_ADICIONAL"/>
                    
                  <label for="VL_NRETADIC">Valor Adicional Não Ret. NF(s)</label>
                  <input 
                    type="text" 
                    class="form-control" 
                    id=""
                    maxlength="14"
                    placeholder="Valor Adicional Não Ret. NF(s)"
                    formControlName="VL_NRETADIC"/>
                    
                  <label for="TP_PROC_RET">Tipo de Processo (1-Administrativo / 2-Judicial)</label>
                  <input 
                    type="text" 
                    class="form-control" 
                    id=""
                    mask="0"
                    [attr.disabled]="true"
                    placeholder="Tipo de Processo (1-Administrativo / 2-Judicial)"
                    formControlName="TP_PROC_RET"/>
                    
                  <label for="NR_PROC_RET">Número do Processo</label>
                  <input 
                    type="text" 
                    class="form-control" 
                    id=""
                    maxlength="21"
                    [attr.disabled]="true"
                    placeholder="Número do Processo"
                    formControlName="NR_PROC_RET"/>
                    
                  <label for="CD_SUSP_PRIN">Código Susp. Principal - codSuspPrinc</label>
                  <input 
                    type="text" 
                    class="form-control" 
                    id=""
                    maxlength="14"
                    [attr.disabled]="true"
                    placeholder="Código Susp. Principal - codSuspPrinc"
                    formControlName="CD_SUSP_PRIN"/>
                </div>
              </div>
              <div class="col-3">
                <div class="form-group">
                  <label for="VL_PRINC">Valor Retenção Susp. Principal</label>
                  <input 
                    type="text" 
                    class="form-control" 
                    id=""
                    maxlength="14"
                    placeholder="Valor Retenção Susp. Principal"
                    formControlName="VL_PRINC"/>
                    
                  <label for="TP_PROC_ADIC">Tipo Processo Adicional (1-Administrativo / 2-Judicial) - tpProcRetAdic</label>
                  <input 
                    type="text" 
                    class="form-control" 
                    id=""
                    mask="0"
                    placeholder="Tipo Processo Adicional (1-Administrativo / 2-Judicial) - tpProcRetAdic"
                    [attr.disabled]="true"
                    formControlName="TP_PROC_ADIC"/>
                    
                  <label for="NR_PROC_ADIC">Número do Processo Adicional - nrProcRetAdic</label>
                  <input 
                    type="text" 
                    class="form-control" 
                    id=""
                    maxlength="21"
                    placeholder="Número do Processo Adicional - nrProcRetAdic"
                    [attr.disabled]="true"
                    formControlName="NR_PROC_ADIC"/>
                    
                  <label for="CD_SUSP_ADIC">Código Susp. Adicional - codSuspAdic</label>
                  <input 
                    type="text" 
                    class="form-control" 
                    id=""
                    mask="00000000000000"
                    placeholder="Código Susp. Adicional - codSuspAdic"
                    [attr.disabled]="true"
                    formControlName="CD_SUSP_ADIC"/>
                    
                  <label for="VL_ADIC">Valor Retenção Susp. Adicional</label>
                  <input 
                    type="text" 
                    class="form-control" 
                    id=""
                    maxlength="14"
                    placeholder="Valor Retenção Susp. Adicional"
                    formControlName="VL_ADIC"/>
                    
                  <label for="IND_PROCES">IND_PROCES</label>
                  <input 
                    type="text" 
                    class="form-control" 
                    id=""
                    maxlength="1"
                    placeholder="IND_PROCES"
                    formControlName="IND_PROCES"/>
                    
                  <label for="REG_INCONS">REG_INCONS</label>
                  <input 
                    type="text" 
                    class="form-control" 
                    id=""
                    maxlength="1"
                    placeholder="REG_INCONS"
                    formControlName="REG_INCONS"/>
                    
                  <label for="CD_ITGR">CD_ITGR</label>
                  <input 
                    type="text" 
                    class="form-control" 
                    id=""
                    maxlength="4"
                    placeholder="CD_ITGR"
                    formControlName="CD_ITGR"/>
                    
                  <label for="NR_SEQU_ITGR">NR_SEQU_ITGR</label>
                  <input 
                    type="text" 
                    class="form-control" 
                    id=""
                    maxlength="4"
                    placeholder="NR_SEQU_ITGR"
                    formControlName="NR_SEQU_ITGR"/>
                    
                  <label for="CD_SITU_ITGR">CD_SITU_ITGR</label>
                  <input 
                    type="text" 
                    class="form-control" 
                    id=""
                    maxlength="4"
                    placeholder="CD_SITU_ITGR"
                    formControlName="CD_SITU_ITGR"/>
                    
                  <label for="DT_CTRL_ITGR">DT_CTRL_ITGR</label>
                  <input 
                    type="text" 
                    class="form-control" 
                    id=""
                    maxlength="10"
                    placeholder="DT_CTRL_ITGR"
                    formControlName="DT_CTRL_ITGR"/>
                    
                  <label for="FILLER">FILLER</label>
                  <input 
                    type="text" 
                    class="form-control" 
                    id=""
                    maxlength="39"
                    placeholder="FILLER"
                    formControlName="FILLER"/>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <button 
          type="button" 
          class="btn" 
          style="background-color: rgb(118, 113, 113); color: white;"
          (click)="updateLayout($event);"
          >FINALIZAR
        </button>
        <button 
          type="button" 
          class="btn" 
          style="background-color: rgb(118, 113, 113); color: white;"
          data-dismiss="modal"
          >CANCELAR
        </button>
        <button 
          type="button" 
          class="btn" 
          style="background-color: rgb(118, 113, 113); color: white;"
          (click)="deleteLayout($event);"
          >EXCLUIR
        </button>
      </div>
    </div>
  </div>
</div>