<!--<div>
  <table class="table-responsive table-bordered text-center">
    <thead class="santander-thead">
      <tr>
        <th scope="col">Valor Total Bruto NF(s)</th>
        <th scope="col">Soma Valor Total Base Ret. NF(s)</th>
        <th scope="col">Valor Total Principal Ret. NF(s)</th>
        <th scope="col">Valor Total Adicional Ret. NF(s)</th>
        <th scope="col">Valor Total Principal Não Ret. NF(s)</th>
        <th scope="col">Valor Total Adicional Não Ret. NF(s)</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>445233</td>
        <td>445233</td>
        <td>48977</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="santander-padding-top-2">
  <table class="table-responsive table-bordered text-center">
    <thead class="santander-thead">
      <tr>
        <th scope="col">Série NF</th>
        <th scope="col">Número da NF</th>
        <th scope="col">Data Emissão NF</th>
        <th scope="col">Valor Bruto da NF</th>
        <th scope="col">Tipo Serviço - Tabela 6</th>
        <th scope="col">Valor Base Retenção da NF</th>
        <th scope="col">Valor Retenção da NF</th>
        <th scope="col">Valor Retenção dos Serviços Subcontratados</th>
        <th scope="col">Valor Principal Não Ret. NF(s)</th>
        <th scope="col">Valor Serviços Prestados após 15 anos</th>
        <th scope="col">Valor Serviços Prestados após 20 anos</th>
        <th scope="col">Valor Serviços Prestados após 25 anos</th>
        <th scope="col">Valor Adicional Serviços Prestados após 15, 20 ou 25 anos</th>
        <th scope="col">Valor Adicional Não Ret. NF(s)</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>171</td>
        <td>GG0000000000071</td>
        <td>2018.06.23</td>
        <td>100000</td>
        <td>100000006</td>
        <td>100000</td>
        <td>11000</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
      <tr>
        <td>172</td>
        <td>GG0000000000072</td>
        <td>2018.06.23</td>
        <td>100000</td>
        <td>100000006</td>
        <td>100000</td>
        <td>11000</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
    </tbody>
  </table>
</div>-->
<!-- Button trigger modal -->
<button id="xxx" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>