.btn-text-gray{
    color: white!important;
    margin-top: 0.5%;
   
}

.card-body-gray{
    padding: 0.5rem;
    border: 1px solid rgba(0,0,0,.125);
    border-collapse: collapse;
    height: 50px;
}

.flag-red{
    color: red;
}

.flag-green{
    color: green;
}

.flag-yellow{
    color: yellow;
}

.flag-gray{
    color: gray;
}