<div class="container-fluid">
  <form [formGroup]="controleEnvioForm" novalidate>
    <div class="row santander-padding-top-1">
      <div class="col-2">
        <div class="form-group">
          <label for="periodoCons"><strong *ngIf="!isFilterAble" style="color: red!important;">*</strong> Digite o Período:</label>
          <input 
            type="text" 
            class="form-control" 
            id="periodoCons"
            mask="0000-00"
            formControlName="periodo"
            placeholder="AAAA-MM">
        </div>
      </div>
 
      <div class="col-2">
        <div class="form-group">
          <label for="periodoInit"><strong *ngIf="isFilterAble" style="color: red!important;">*</strong> De:</label>
          <input 
            type="text" 
            class="form-control" 
            id="periodoInit"
            mask="00/00/0000"
            formControlName="dateInit"
            placeholder="DD/MM/AAAA"
            (keyup)="print($event)">
        </div>
      </div>
      <div class="col-2">
        <div class="form-group">
          <label for="periodoEnd"><strong *ngIf="isFilterAble" style="color: red!important;">*</strong> Até:</label>
          <input 
            type="text" 
            class="form-control" 
            id="periodoEnd"
            mask="00/00/0000"
            formControlName="dateEnd"
            placeholder="DD/MM/AAAA"
            (keyup)="print($event)">
        </div>
      </div>
      <div class="col-3">
        <div class="form-group">
          <label for="exampleSelect1">Contribuinte/Empresa:</label>
          <select 
            class="form-control" 
            id="exampleSelect2"
            formControlName="document"
            (change)="print($event)">
            <option selected value="">Selecione ----</option>
            <option *ngFor="let document of documents" value="{{document.id}}">{{document.name}}</option>
          </select>
        </div>
      </div>
      <div class="col-3 santander-padding-top-1">
        <button 
          type="button" 
          class="btn" 
          style="background-color: rgb(118, 113, 113); color: white;"
          [disabled]="!controleEnvioForm.valid"
          (click)="ableTable($event);">CONSULTAR
        </button>
      </div>
    </div>
    <div class="row santander-padding-top-0">
      <div class="col-12">
        <div class="form-check">
          <input 
            type="checkbox" 
            class="form-check-input" 
            id="openFilter" 
            (change)="openFilter($event);">
          <label class="form-check-label" for="exampleCheck1">Pesquisar por período específico</label>
        </div>
      </div>
    </div>
  </form>
  <div class="row santander-padding-top-1" *ngIf="!ableTab" [@tableAppear]="tableState">
    <div class="col-12">
      <div>
        <table class="table table-bordered text-center">
          <thead class="santander-thead">
            <tr>
              <th scope="col">Layout EFD-Reinf</th>
              <th scope="col">Total XMLs Enviados</th>
              <th scope="col">Total XMLs Retornados com Sucesso</th>
              <th scope="col">Total XMLs Retornados com Erro</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let layout of layouts">
              <td>{{layout.label}}</td>
              <td>{{layout.xml.totalXML}}</td>
              <td 
                *ngIf="layout.xml.totalXMLSuccess > 0" 
                style="background-color: #00a65a; color: white">
                {{layout.xml.totalXMLSuccess}}
                <a 
                  style="color: white" 
                  class="btn btn-sm"
                  (click)="buildAction('success', layout.label)"
                  data-toggle="modal" 
                  [attr.data-target]="'.modal-'+layout.label"><i class="fas fa-search"></i></a>
              </td>
              <td *ngIf="layout.xml.totalXMLSuccess === 0">{{layout.xml.totalXMLSuccess}}</td>
              <td 
                *ngIf="layout.xml.totalXMLError > 0" 
                style="background-color: #F00000; color: white">
                {{layout.xml.totalXMLError}} 
                <a 
                  style="color: white" 
                  class="btn btn-sm"
                  (click)="buildAction('error')"
                  data-toggle="modal" 
                  (click)="buildAction('error', layout.label)"
                  [attr.data-target]="'.modal-'+layout.label"><i class="fas fa-search"></i></a>
              </td>
              <td *ngIf="layout.xml.totalXMLError === 0">{{layout.xml.totalXMLError}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div 
        class="modal fade modal-R1000" 
        tabindex="-1" 
        role="dialog" 
        aria-labelledby="myR1000ModalLabel" 
        aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <app-controle-envio-r1000 *ngIf="opt" [contribuintes]="contribuintes"></app-controle-envio-r1000>
            <app-controle-envio-r1000 *ngIf="!opt" [contribuintes]="contribuintes"></app-controle-envio-r1000>
          </div>
        </div>
      </div>
      
      <div 
        class="modal fade modal-R1070" 
        tabindex="-1" 
        role="dialog" 
        aria-labelledby="myR1070ModalLabel" 
        aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <app-controle-envio-r1070 *ngIf="opt" [contribuintes]="contribuintes"></app-controle-envio-r1070>
            <app-controle-envio-r1070 *ngIf="!opt" [contribuintes]="contribuintes"></app-controle-envio-r1070>
          </div>
        </div>
      </div>
      
      <div 
        class="modal fade modal-R2010" 
        tabindex="-1" 
        role="dialog" 
        aria-labelledby="myR2010ModalLabel" 
        aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <app-controle-envio-r2010 *ngIf="opt" [contribuintes]="contribuintes"></app-controle-envio-r2010>
            <app-controle-envio-r2010 *ngIf="!opt" [contribuintes]="contribuintes"></app-controle-envio-r2010>
          </div>
        </div>
      </div>
      
      <div 
        class="modal fade modal-R2060" 
        tabindex="-1" 
        role="dialog" 
        aria-labelledby="myR2060ModalLabel" 
        aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <app-controle-envio-r2060 *ngIf="opt" [contribuintes]="contribuintes"></app-controle-envio-r2060>
            <app-controle-envio-r2060 *ngIf="!opt" [contribuintes]="contribuintes"></app-controle-envio-r2060>
          </div>
        </div>
      </div>
      
      <div 
        class="modal fade modal-R2099" 
        tabindex="-1" 
        role="dialog" 
        aria-labelledby="myR2099ModalLabel" 
        aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <app-controle-envio-r2099 *ngIf="opt" [contribuintes]="contribuintes"></app-controle-envio-r2099>
            <app-controle-envio-r2099 *ngIf="!opt" [contribuintes]="contribuintes"></app-controle-envio-r2099>
          </div>
        </div>
      </div>

      <div 
        class="modal fade modal-R5011" 
        tabindex="-1" 
        role="dialog" 
        aria-labelledby="myR9000ModalLabel" 
        aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <app-controle-envio-r5011 *ngIf="opt" [contribuintes]="contribuintes"></app-controle-envio-r5011>
            <app-controle-envio-r5011 *ngIf="!opt" [contribuintes]="contribuintes"></app-controle-envio-r5011>
          </div>
        </div>
      </div>
      
      <div 
        class="modal fade modal-R9000" 
        tabindex="-1" 
        role="dialog" 
        aria-labelledby="myR9000ModalLabel" 
        aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <app-controle-envio-r9000 *ngIf="opt" [contribuintes]="contribuintes"></app-controle-envio-r9000>
            <app-controle-envio-r9000 *ngIf="!opt" [contribuintes]="contribuintes"></app-controle-envio-r9000>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>