<div class="container-fluid">
  <form [formGroup]="consultForm" novalidate>
    <div class="row santander-padding-top-1">
      <div class="col-2">
        <div class="form-group">
          <label for="periodoCons">Digite o Período:</label>
          <input 
            type="text" 
            class="form-control" 
            id="periodoCons"
            mask="0000-00"
            placeholder="AAAA-MM"
            formControlName="periodo">
        </div>
      </div>
      <div class="col-3">
        <div class="form-group">
          <label for="exampleSelect1">Selecione o Contribuinte:</label>
          <select formControlName="document" class="form-control" id="exampleSelect2">
            <option selected value="">CNPJ Contribuinte</option>
            <option *ngFor="let document of documents" value="{{document.value}}">{{document.label | mask: '00.000.000/0000-00'}}</option>
          </select>
        </div>
      </div>
      <div class="col-1">&nbsp;</div>
      <div class="col-2 santander-padding-top-1">
        <button 
          type="button" 
          class="btn" 
          style="background-color: rgb(118, 113, 113); color: white;"
          [disabled]="!consultForm.valid"
          (click)="ableTable($event);"
          >CONSULTAR</button>
      </div>
    </div>
  </form>
  <div class="row santander-padding-top-1" *ngIf="!ableTab" [@tableAppear]="tableState">
    <div class="col-12">
      <div>
        <table class="table table-bordered text-center">
          <thead class="santander-thead">
            <tr>
              <th scope="col">Layout EFD-Reinf</th>
              <th scope="col">Total XMLs Enviados</th>
              <th scope="col">Total XMLs Enviados com Sucesso</th>
              <th scope="col">Total XMLs Enviados com Erro</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let layout of layouts">
              <td>{{layout.label}}</td>
              <td>{{layout.xml.totalXML}}</td>
              <td 
                *ngIf="layout.xml.totalXMLSuccess > 0" 
                style="background-color: #00a65a; color: white">
                {{layout.xml.totalXMLSuccess}}
                <a 
                  style="color: white" 
                  class="btn btn-sm"
                  (click)="buildAction('success')"
                  data-toggle="modal" 
                  [attr.data-target]="'.modal-'+layout.label"><i class="fas fa-search"></i></a>
              </td>
              <td *ngIf="layout.xml.totalXMLSuccess === 0">{{layout.xml.totalXMLSuccess}}</td>
              <td 
                *ngIf="layout.xml.totalXMLError > 0" 
                style="background-color: #F00000; color: white">
                {{layout.xml.totalXMLError}} 
                <a 
                  style="color: white" 
                  class="btn btn-sm"
                  (click)="buildAction('error')"
                  data-toggle="modal" 
                  [attr.data-target]="'.modal-'+layout.label"><i class="fas fa-search"></i></a>
              </td>
              <td *ngIf="layout.xml.totalXMLError === 0">{{layout.xml.totalXMLError}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div 
        class="modal fade modal-R1000" 
        tabindex="-1" 
        role="dialog" 
        aria-labelledby="myR1000ModalLabel" 
        aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <app-table-envios-r1000 [contribuintes]="contribuintes"></app-table-envios-r1000>
          </div>
        </div>
      </div>
      
      <div 
        class="modal fade modal-R1070" 
        tabindex="-1" 
        role="dialog" 
        aria-labelledby="myR1070ModalLabel" 
        aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <app-table-envios-r1070></app-table-envios-r1070>
          </div>
        </div>
      </div>
      
      <div 
        class="modal fade modal-R2010" 
        tabindex="-1" 
        role="dialog" 
        aria-labelledby="myR2010ModalLabel" 
        aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <app-table-envios-r2010></app-table-envios-r2010>
          </div>
        </div>
      </div>
      
      <div 
        class="modal fade modal-R2060" 
        tabindex="-1" 
        role="dialog" 
        aria-labelledby="myR2060ModalLabel" 
        aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <app-table-envios-r2060></app-table-envios-r2060>
          </div>
        </div>
      </div>
      
      <div 
        class="modal fade modal-R2099" 
        tabindex="-1" 
        role="dialog" 
        aria-labelledby="myR2099ModalLabel" 
        aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <app-table-envios-r2099></app-table-envios-r2099>
          </div>
        </div>
      </div>
      
      <div 
        class="modal fade modal-R9000" 
        tabindex="-1" 
        role="dialog" 
        aria-labelledby="myR9000ModalLabel" 
        aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <app-table-envios-r9000></app-table-envios-r9000>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>