/* You can add global styles to this file, and also import other style files */
.santander-padding-top-1{
    padding-top: 30px!important;
}

.santander-padding-top-2{
    padding-top: 60px!important;
}

.santander-padding-top-3{
    padding-top: 90px!important;
}

.santander-padding-bottom-1{
    padding-bottom: 30px!important;
}

.santander-padding-bottom-2{
    padding-bottom: 60px!important;
}

.santander-padding-bottom-3{
    padding-bottom: 90px!important;
}

.flag-red{
    color: red;
}

.flag-red:hover{
    color: red;
}

.flag-green{
    color: green;
}

.flag-green:hover{
    color: green;
}

.flag-yellow{
    color: yellow;
}

.flag-yellow:hover{
    color: yellow;
}

.flag-gray{
    color: gray;
}

.flag-gray:hover{
    color: gray;
}

.btn-text-gray{
    color: white!important;
    margin-top: 0.5%;
   
}

.card-body-gray{
    padding: 0.5rem;
    border: 1px solid rgba(0,0,0,.125);
    border-collapse: collapse;
    height: 50px;
}