<app-header></app-header>
<div class="container">
  <div class="row">
    <div class="col-1" style="padding-top: 30px!important;">
      <input type="text" class="form-control" style="width: 70%!important;" value="29"/>
    </div>
    <div class="col-11" style="padding-top: 30px!important;">
      <p>dias para a data limite de 15/11/2018 para envio das informações á Receita Federal</p>
      <p style="color: #F00000">Data de envio <strong>15/10/2018</strong> expirada</p>
    </div>
  </div>
  <div class="row">
    <div class="col-12 santander-padding-top-1">
      <nav>
        <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
          <a 
            class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab"
            routerLinkActive="detail-active" [routerLink]="['eventos-pendentes']" 
            role="tab" aria-controls="nav-home" 
            aria-selected="true">Eventos Pendentes de Envio</a>
          <a 
            class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab"
            routerLinkActive="detail-active" [routerLink]="['controle-integracoes']" 
            role="tab" aria-controls="nav-profile"
            aria-selected="false">Controle de Integrações</a>
          <a 
            class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab"
            routerLinkActive="detail-active" [routerLink]="['controle-envio']"
            role="tab" aria-controls="nav-contact" 
            aria-selected="false">Controle de Envios á RFB</a>
          <a 
            class="nav-item nav-link" id="nav-about-tab" data-toggle="tab"
            routerLinkActive="detail-active" [routerLink]="['solicitar-envio']" 
            role="tab" aria-controls="nav-about" aria-selected="false">Solicitar Envio á RFB</a>
        </div>
      </nav>
    </div>
  </div>
  <div class="row">
    <router-outlet></router-outlet>
  </div>
</div>