<app-header></app-header>
<div class="container" [@homeAppear]="homeState">
  <div class="row">
    <div class="col-1" style="padding-top: 30px!important;">
      <input type="text" class="form-control" style="width: 70%!important; background-color: white;" [value]="remainingDays" disabled/>
    </div>
    <div class="col-11" style="padding-top: 35px!important;margin-left: -40px;">
      <p>dias para a data limite de <strong>{{nextExpireDate}}</strong> para envio das informações à Receita Federal referentes ao período de <strong>{{periodoVig}}</strong></p>
      <p style="color: #F00000">Data de envio <strong>{{lastExpireDate}}</strong> expirada referente ao período de <strong>{{periodoExp}}</strong></p>
    </div>
  </div>
  <div class="row">
    <div class="col-12 santander-padding-top-1">
      <nav>
        <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
          <a 
            class="nav-item nav-link" id="nav-consulta-tab" data-toggle="tab"
            routerLinkActive="active show" [routerLink]="['painel-consulta']" 
            role="tab" aria-controls="nav-consulta" 
            aria-selected="true">Painel de Consulta</a>
            <a 
            class="nav-item nav-link" id="nav-consulta-tab" data-toggle="tab"
            routerLinkActive="active show" [routerLink]="['abertura-de-grade']" 
            role="tab" aria-controls="nav-consulta" 
            aria-selected="true">Aprovação de Grade</a>
          <a 
            class="nav-item nav-link" id="nav-home-tab" data-toggle="tab"
            routerLinkActive="active show" [routerLink]="['painel-de-controle']" 
            role="tab" aria-controls="nav-home" 
            aria-selected="false">Painel de Controle</a>
            <a 
            class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab"
            routerLinkActive="active show" [routerLink]="['controle-de-registros']" 
            role="tab" aria-controls="nav-profile"
            aria-selected="false">Controle de Registros Inconsistentes</a>
          <a 
            class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab"
            routerLinkActive="active show" [routerLink]="['controle-envio']"
            role="tab" aria-controls="nav-contact" 
            aria-selected="false">Controle de Envios à RFB</a>
       
        </div>
      </nav>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>