
  <div class="modal-header modal-header-pop-up">
      <h5 class="modal-title" id="exampleModalLabel">Painel de Consulta</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>

  
    <div class="modal-body" >
      <p style=" display: inline;font-size: 18px;"><strong>Contribuinte:</strong> 00.000.000/0000-00</p>
      <p style=" display: inline;font-size: 18px;margin-left: 30px;"><strong>Ano Fiscal:</strong> 2018</p>
      <p style=" display: inline;    float: right;font-size: 18px;"><strong>Layout:</strong> R2010</p>
      <div class="row santander-padding-top-1" style="    width: 100%;">
        <div class="col-12" style="    overflow: scroll;">
          <table class="table-bordered text-center">
            <thead class="santander-thead" style="    background-color: gray;">
              <tr>
                  <!-- <th scope="col"></th> -->
                <th scope="col" colspan="2">Série NF</th>
                <th scope="col">Número da NF</th>
                <th scope="col">Data Emissão NF</th>
                <th scope="col">Valor Bruto da NF</th>
                <th scope="col">Tipo Serviço - Tabela 6</th>
                <th scope="col">Valor Base Retenção da NF</th>
                <th scope="col">Valor Retenção da NF</th>
                <th scope="col">Valor Retenção dos Serviços Subcontratados</th>
                <th scope="col">Valor Principal Não Ret. NF(s)</th>
                <th scope="col">Valor Serviços Prestados após 15 anos</th>
                <th scope="col">Valor Serviços Prestados após 20 anos</th>
                <th scope="col">Valor Serviços Prestados após 25 anos</th>
                <th scope="col">Valor Adicional Serviços Prestados após 15, 20 ou 25 anos</th>
                <th scope="col">Valor Adicional Não Ret. NF(s)</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let nf of nfs" [ngClass]="{'flag-red': nf.status=='retificar'}">
                <td>        <input  type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked></td>
                <td>{{nf.serie}}</td>
                <td>{{nf.numero}}</td>
                <td>{{nf.dataEmissao}}</td>
                <td>{{nf.valorBruto | currency:'BRL'}}</td>
                <td>{{nf.tipoServico}}</td>
                <td>{{nf.valorBaseRetNF | currency:'BRL'}}</td>
                <td>{{nf.valorRetNF | currency:'BRL'}}</td>
                <td>{{nf.valorRetServicosSubcontratados | currency:'BRL'}}</td>
                <td>{{nf.valorPrincNRetNF | currency:'BRL'}}</td>
                <td>{{nf.valorServicosPrestApos15anos | currency:'BRL'}}</td>
                <td>{{nf.valorServicosPrestApos20anos | currency:'BRL'}}</td>
                <td>{{nf.valorServicosPrestApos25anos | currency:'BRL'}}</td>
                <td>{{nf.valorAdicionalServicosPrestApos152025Anos | currency:'BRL'}}</td>
                <td>{{nf.valorAdicNRetNF | currency:'BRL'}}</td>
              
              </tr>
            </tbody>
          </table>
          
          <router-outlet></router-outlet>
        </div>
      </div>
  
      <button 
        (click)="exportToExcel();"
        class="btn" 
        style="background-color: rgb(118, 113, 113); color: white; display: block; float: right;     margin-top: 20px;
        margin-bottom: 20px;
        margin-right: 15px;">
        Exportar para Excel
        <i class="fas fa-file-excel-o" aria-hidden="true"></i>
      </button>

      <button 
      (click)="exportToExcel();"
      class="btn" 
      style="background-color: rgb(118, 113, 113); color: white; display: block; float: right;     margin-top: 20px;
      margin-bottom: 20px;
      margin-right: 15px;">
     Excluir Registro
    </button>

    <button 
    (click)="exportToExcel();"
    class="btn" 
    style="background-color: rgb(118, 113, 113); color: white; display: block; float: right;     margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 15px;">
    Alterar Registro
  </button>
    </div>